body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.game {
  width: 100%;
  left: 0;
  padding: 20px;
  flex-direction: row;
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.dark {
  background: darkblue;
  color: white;
  border: 1px solid #ff0000;
}

.light {
  background: lightgoldenrodyellow;
  color: blue;
  border: 1px solid #999;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right {
  padding-right: 30px;
}

.initialVersion {
  display: flex;
  margin-bottom: 20px;
}

.reduxVersion {
  display: flex;
}

.principal {
  width: 95%;
}

.layout-container{
  height: 49.8%;
  display: flex;
  flex-direction: row;
}

.theme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
